* {
    box-sizing: border-box;
}

.content > .sapMFlexItem {
    width: 100%;
    height: 100%;
    padding: 16px;
}

.diagramContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.diagramContainer svg {
    width: 100%;
    height: 100%;
}

.nodeRect {
    x: -100px;
    y: -50px;
    width: 200px;
    height: 100px;
    fill: #dfffdf;
    rx: 5px;
    stroke: #6f6f6f;
    stroke-width: 2px;
    transition: stroke .3s, stroke-width .3s;
}

.node.selected .nodeRect {
    stroke: #8989f0;
    stroke-width: 3px;
}

.nodeTitle {
    text-anchor: middle;
    fill: #3f3f3f;
    font-family: sans-serif;
    font-size: 16px;
    pointer-events: none;
}

.edge {
    stroke: #3f3f3f;
    stroke-width: 2px;
    fill: transparent;
}

#arrowhead {
    fill: #3f3f3f;
}